<p id="notice"><%= notice %></p>

<h1>Listing Item Requests</h1>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>User</th>
      <th>Date request</th>
      <th>Estimated return date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @item_requests.each do |item_request| %>
      <tr>
        <td><%= item_request.item_id %></td>
        <td><%= item_request.user_id %></td>
        <td><%= item_request.date_request %></td>
        <td><%= item_request.estimated_return_date %></td>
        <td><%= link_to 'Show', item_request %></td>
        <td><%= link_to 'Loan', treat_request_path(item_request) %></td>
        <td><%= link_to 'Destroy', item_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<p>
  <%= link_to 'Back', controller: 'main_window' %>
</p>
